In [7]:
num = int(input())
print('%d' % (num))

2
2

In [8]:

a = 5

b = 6

c = 'string'

print(a, b, c)

print('%d %d %s' % (a, b, c))

print('{0} {1} {2}'.format(a, b, c))

# c a b

5 6 string
5 6 string
5 6 string

In [9]:


# This entire statement won't be displayed

print('54'*6)

print(5,6,7) # sep = ' ', end = '\n'

print('Python', 1, 2)

print(1,2,3, sep=',')

print(1,2,3, sep=',', end='!!')

print(123)

545454545454
5 6 7
Python 1 2
1,2,3
1,2,3!!123

In [16]:
print('this line won't get displayed")

SyntaxError: invalid syntax (Temp/ipykernel_5076/2570163071.py, line 1)

In [17]:
print('this line won\'t get displayed')

this line won't get displayed

In [18]:
print('this is\na multi \tline \nstatement')

this is
a multi 	line
statement

In [19]:
print("hello\na iam pavan \t iam  an\t ies")


print('this \n is  my \t laptop  and \n  where \t it is')


# \n means    next line  and 
# \t  means   continue in line

hello
a iam pavan 	 iam  an	 ies
this
 is  my 	 laptop  and
  where 	 it is

In [20]:
# Relational Operators

a = 10;
b = 6;
print('a<b = ', a<b);
print('a<=b = ', a<=b);
print('a>b = ', a>b);
print('a>=b = ', a>=b);

a<b =  False
a<=b =  False
a>b =  True
a>=b =  True

In [21]:
# Equality Operators

a = 10;
b = 6;
print('a==b ', a==b);
print('a!=b ', a!=b);

a==b  False
a!=b  True

In [22]:
# Logical Operators

print(5 < 6 and 6 < 6)

print(5 < 6 or 6 < 6)

print(not(5 < 6 and 6 < 6))

False
True
True

In [23]:


# Bitwise
# & -> if both bits are 1 then 1 otherwise 0
# | -> if both bits are 0 then 0 otherwise 1
# ^ -> if both bits are different then 1 otherwise 0
# ~ -> bitwise complement

print(5 & 10)

print(5 | 10)

print(5 ^ 10)

print(~10)

0
15
15
-11

In [24]:


# Shift Operators

print(10 << 1);

print(10 >> 1);

20
5

In [25]:


# Assignment Operators

x = 10;

x += 10;

print(x);

20

In [26]:


# Ternary

x = 5 if (5 < 6) else 6

y = 5 if (5 > 6) else 6

print(x, y)

5 6

In [27]:
a = 5;

b = 5.0;

c = 5 + 0j;

print(type(a))

print(type(b))

print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [28]:
f = 1.2E34

# f = 1.23e34 and f = 1.23e+34 are equivalent

print(f)

print(type(f))

1.2e+34
<class 'float'>

In [29]:


c = 10+20j

print(type(c))

print(c + 5)

print(isinstance(c, complex))

print(c.real)

print(c.imag)

<class 'complex'>
(15+20j)
True
10.0
20.0

### Strings

# Data Types in Python

As we know that python is Dynamically typed programming language, than why do we need to learn about data type at all?

Although python automatically understands the data type, but it is important to know about data types so that we can utilize the power of data structures in future.

Basic Data Types available in python are:

    Numeric - int, float, complex (Immutable)
    Strings (Immutable)
    List (Mutable, mostly used to store homogeneous data types)
    Tuple (Immutable, faster compared to List)
    Set (Unordered collection of items, mutable, removes duplicates)
    Dictionary (Unordered collection of Key-Value Pairs, Mutable, Keys are Unique - values may not be unique)

In [30]:


c = 'a'

print(type(c))

s = 'We are leaning Python!'

print(type(s))

print(len(s))

<class 'str'>
<class 'str'>
22

In [31]:


s = 'hi'

print(s[1])

# print(s[3])

# print(s[1.0])

print(s+' there')

print(s, 10)

i
hi there
hi 10

In [32]:

s = 'We are leaning Python!'

print(s.find('learning'))

s = s.replace('leaning', 'learning')

print(s)

split_string = s.split(' ')

print(split_string)

print(type(split_string))

join_string = ' '.join(split_string)

print(join_string)

print(type(join_string))

-1
We are learning Python!
['We', 'are', 'learning', 'Python!']
<class 'list'>
We are learning Python!
<class 'str'>

In [33]:
a='iam  going to marktt!'
print(a.find('market'))
a=a.replace("markt","market")
print(a)
split=a.split(" ")
print(split)
join=" ".join(split)
print(join)

-1
iam  going to markett!
['iam', '', 'going', 'to', 'markett!']
iam  going to markett!

In [34]:


s = 'ThatAIGuy'

print(s[-9])

print(s[::2])

print(s[:5])

print(s[5:])

print(s[-7:-3:1])

print(s[::-1])

T
TaAGy
ThatA
IGuy
atAI
yuGIAtahT

In [35]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantisshrimp', 'anemone']

print(sea_creatures[0])

print(sea_creatures[1])

print(sea_creatures[2])

print(sea_creatures[3])

print(sea_creatures[4])

# print(sea_creatures[5])  it wiill also throw errors

print('*'*20)

print(sea_creatures[-1])

print(sea_creatures[-2])

print(sea_creatures[-3])

print(sea_creatures[-4])
print(sea_creatures[-5])

# try print(sea_creatures[-6]) it will throw out of range error

shark
cuttlefish
squid
mantisshrimp
anemone
********************
anemone
mantisshrimp
squid
cuttlefish
shark

In [36]:


# Strings are Immutable

s = 'ThatAIguy'

print(s)

print(s[6])

# s[6] = 'G'  we cant replace  in the value

print(s)

ThatAIguy
g
ThatAIguy

In [37]:


"""
This is a multi line comment demonstrated by using triple double-quote

This is an example for nested lists.
"""

nest_list = ['Happy', [2, 0, 1, 5]]

print(nest_list[0][1])

print(nest_list[1][3])

a
5

In [38]:
# Because lists are mutable, below written code will
# overwrite existing list
# """

sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantisshrimp', 'anemone']

print(sea_creatures)

sea_creatures[1] = 'octopus'

print(sea_creatures)

sea_creatures[-3] = 'blobfish'

print(sea_creatures)

# sea_creatures[0][2] = 'd'   becoz  no nested list
sea_creatures[2]='pavan'
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantisshrimp', 'anemone']
['shark', 'octopus', 'squid', 'mantisshrimp', 'anemone']
['shark', 'octopus', 'blobfish', 'mantisshrimp', 'anemone']
['shark', 'octopus', 'pavan', 'mantisshrimp', 'anemone']

In [39]:
# Slicing Operation

my_list = ['T', 'h', 'a', 't', 'A', 'I', 'G', 'u', 'y']

print(my_list[:-5])

print(my_list[-4:-2])

print(my_list[:-3])

['T', 'h', 'a', 't']
['I', 'G']
['T', 'h', 'a', 't', 'A', 'I']

In [40]:

# Python program to demonstrate working
# of map.
  
# Return double of n
def subtraction(n):
    return n * n
  
# We double all numbers using map()
numbers = (22,24,26,25,5)
result =map(subtraction, numbers)
print(list(result))

[484, 576, 676, 625, 25]

In [41]:
numbers = (1, 5, 3, 4)
result = map(lambda x: x ** x, numbers)
print(list(result))

[1, 3125, 27, 256]

In [42]:

# List of strings
l = ['pa1', 'ra1', 'g1', '3sha']
  
# map() can listify the list of strings individually
splitt = list(map(list, l))
print(test)

NameError: name 'test' is not defined

In [43]:
a=(1,2,3,4,5,1)
print(a.__len__())

6

In [44]:
a,b,c='123'
b,c,d='456'
print(a,b,c,d)

1 4 5 6

In [45]:
a="python"

In [46]:
a.center(10,'~')

'~~python~~'

In [47]:


num =0.1

if(num)>=1:
    print('Number is positive')

print('This line will print always')

# if -1 and 0:
# 0, None, -ve, +ve

This line will print always

In [48]:


num = -1

if(num >= 0):
    print('Positive')
else:
    print('Negative')
print('This line will print anyways')

Negative
This line will print anyways

In [49]:


num = 0

if(num > 0):
    print('Positive')
elif(num == 0):
    print('ZERO')
else:
    print('Negative')

ZERO

In [50]:


# Try 90, 78, 50, 9999

grade = 90

if grade >= 90 and grade<=100:
    print("A grade")

elif grade >=80 and grade<=90:
    print("B grade")

elif grade >=70:
    print("C grade")

elif grade >= 65:
    print("D grade")

else:
    print("Failing grade")

A grade

In [51]:

# Try 90, 78, 50, 9999

grade =50

if grade >= 90 and grade<=100:
    print("A grade")

elif grade >=80 and grade<=90:
    print("B grade")

elif grade >=70:
    print("C grade")

elif grade >= 65:
    print("D grade")

else:
    print("Failing grade")

Failing grade

In [52]:

# Try 90, 78, 50, 9999

grade = 9999

if grade >= 90 and grade<=100:
    print("A grade")

elif grade >=80 and grade<=90:
    print("B grade")

elif grade >=70:
    print("C grade")

elif grade >= 65:
    print("D grade")

else:
    print("Failing grade")

C grade

## Loops

In [53]:


count = 0
while(count < 5):
    print('The count is:  ', count)
    count = count + 1
print('Good bye! count is: ', count)

The count is:   0
The count is:   1
The count is:   2
The count is:   3
The count is:   4
Good bye! count is:  5

In [54]:
# tup = (1,2,3,4,5,6)

# prod =1
# index = 0

# while(index < len(tup)):
#     prod *= tup[index]
#     index += 1

# print('Product = {}'.format(prod))

In [60]:


print('LIST ITERATION: ')
lst = [10,20,30,40,50,60]
for element in lst:
    print(element, end=' ')
print()

print('TUPLE ITERATION: ')
tup = (10,20,30,40,50,60)
for element in tup:
    print(element, end=' ')
print()

print('STRING ITERATION: ')
myStr = 'Python'
for element in myStr:
    print(element, end=' ')
print()

print('DICTIONARY ITERATION: ')
dict = {}
dict['xyz'] = 123
dict['abc'] = 345
for key in dict:
    print(key, dict[key])
    
    
    
print("My ittarataion:")
my="pavan nayak"
for element in my:
    print(element)
print()

    
print("My ittarataion:")
my="pavan nayak"
for element in my:
    print(element,end=" ")
print()

LIST ITERATION:
10 20 30 40 50 60
TUPLE ITERATION:
10 20 30 40 50 60
STRING ITERATION:
P y t h o n
DICTIONARY ITERATION:
xyz 123
abc 345
My ittarataion:
p
a
v
a
n

n
a
y
a
k

My ittarataion:
p a v a n   n a y a k

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [1]:
import pandas as pd
import numpy as np

In [64]:
def  entropy(pos,neg):
    total=pos+neg
    if pos== 0  or  neg==0:
        return  0.0
    return  -((((pos/total)*(np.log2(pos/total)))+ ((neg/total)*(np.log2(neg/total)))))

In [69]:
entropy()

0.0

In [12]:
entropy()

0.9709505944546686

In [22]:
5/14

0.35714285714285715

In [16]:
-0.5305095811322292*(-0.4097)

0.21734977538987432

In [24]:
-(0.6482*(-0.6374)+0.357*(-1.485))

0.94330768

In [31]:
# 3/7 np.log2(3/7)
4/7*np.log2(4/7)

-0.46134566974720237

In [39]:
0.9433-(-0.46134566974720237)+(-0.523795152542668)

-1.0057494827954656

In [47]:
np.log2(9/14)

-0.6374299206152917

In [50]:
np.log2(3/7)

-1.222392421336448

In [57]:
3/7*np.log2(3/7)

-0.5238824662870492

In [59]:
(-0.1906*(-0.4010))

0.0764306

In [61]:
-0.94-(0.2416+0.0764)

-1.258

In [70]:
7

0.5

In [73]:
5/14,9/14

(0.35714285714285715, 0.6428571428571429)

In [96]:
df

NameError: name 'df' is not defined

In [77]:
import numpy

In [82]:
np.log2(3)

1.584962500721156

In [95]:
np.log2(9/4)

1.1699250014423124