<a href="https://colab.research.google.com/github/Pavansabavat/Python-Interview-code/blob/main/w3_source.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ordinal Number Encoding

In [ ]:
import datetime

In [ ]:
today_date=datetime.datetime.today()

In [ ]:
today_date

datetime.datetime(2023, 2, 3, 11, 9, 56, 387820)

In [ ]:
today_date-datetime.timedelta(3)

datetime.datetime(2023, 1, 31, 11, 9, 56, 387820)

In [ ]:
#### List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [ ]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]

In [ ]:
data.head()

                         Day
0 2023-02-03 11:09:56.387820
1 2023-02-02 11:09:56.387820
2 2023-02-01 11:09:56.387820
3 2023-01-31 11:09:56.387820
4 2023-01-30 11:09:56.387820

## **W3 SOURCE**

In [ ]:
def test(nums):
    return nums.count(19) == 2 and nums.count(5) >= 3
nums = [19,19,15,5,3,5,5,2]
print("Original list:")
print(nums)
print("Check two occurrences of nineteen and at least three occurrences of five in the said list:")
print(test(nums))

Original list:
[19, 19, 15, 5, 3, 5, 5, 2]
Check two occurrences of nineteen and at least three occurrences of five in the said list:
True

In [ ]:
def test(num):
  return num.count(20)==3 and num.count(5)>4
num=[20,28,56,98,19,56,3,5,6,20,20,5,5]
print('original list:')
print(num)
print("Check two occurrences of nineteen and at least three occurrences of five in the said list:")

print(test(num))

original list:
[20, 28, 56, 98, 19, 56, 3, 5, 6, 20, 20, 5, 5]
Check two occurrences of nineteen and at least three occurrences of five in the said list:
False

In [ ]:
def reverse_list_in_location(lst, start_pos, end_pos):
    while start_pos < end_pos:
        lst[start_pos], lst[end_pos] = lst[end_pos], lst[start_pos]
        start_pos += 1
        end_pos -= 1
    return lst

nums = [10,20,30,40,50,60,70,80]
start_pos = 2
end_pos = 4
print("Original list:")
print(nums)
print("Reverse elements of the said list between index position "+str(start_pos)+ " and "+str(end_pos))
print(reverse_list_in_location(nums,start_pos,end_pos))

Original list:
[10, 20, 30, 40, 50, 60, 70, 80]
Reverse elements of the said list between index position 2 and 4
[10, 20, 50, 40, 30, 60, 70, 80]

In [ ]:
start_pos=4
end_pos=6
print('original list:')
print(nums)
print('reverse num'+str(start_pos)+'and'+str(end_pos))
print(reverse_list_in_location(nums,start_pos,end_pos))

original list:
[10, 20, 50, 40, 30, 60, 70, 80]
reverse num4and6
[10, 20, 50, 40, 70, 60, 30, 80]

In [ ]:
def test(n):
    return n % 40 == 4 and n > 4 ** 4

n = 922
print("Original Integer:")
print(n)
print("Check whether the said integer greater than 4^4 and which is 7 mod 134 :")
print(test(n))
n = 914
print("\nOriginal Integer:")
print(n)
print("Check whether the said integer greater than 4^4 and which is 7 mod 134 :")
print(test(n))

Original Integer:
922
Check whether the said integer greater than 4^4 and which is 7 mod 134 :
False

Original Integer:
914
Check whether the said integer greater than 4^4 and which is 7 mod 134 :
False

In [ ]:
def test(str1):
    return str1[len(str1)-2] in str1[len(str1)-1] and str1[len(str1)-2] != str1[len(str1)-1]

str11 = ["a","abb","sfs", "oo", "de", "sfde"]
print("Original list:")
print(str11)
print("Check the nth-1 string is a proper substring of nth string of the said list of strings:")
print(test(str11))

Original list:
['a', 'abb', 'sfs', 'oo', 'de', 'sfde']
Check the nth-1 string is a proper substring of nth string of the said list of strings:
True

In [ ]:
def test(str1):
  return str1[len(str1)-2] in str1[len(str1)-1]  and str1[len(str1)-2]!=str1[len(str1)-1]

In [ ]:
str11=['a','bb','cc','dd','dedd']
print(str11)
print(test(str11))

['a', 'bb', 'cc', 'dd', 'dedd']
True

In [ ]:
def test(str1):
  return str1[len(str1)-3] in str1[len(str1)-1] and str1[len(str1)-3]!=str1[len(str1)-1]

In [ ]:
dtr1=['aa','bb','cc','dd','dhgy']
print(dtr1)
print(test(dtr1))

['aa', 'bb', 'cc', 'dd', 'dhgy']
False

In [ ]:
dtr2=['aa','bb','cc','dd','cce']
print(dtr2)
print(test(dtr2))

['aa', 'bb', 'cc', 'dd', 'cce']
True

In [ ]:
x = {'a':2,'b':3}
y = {'pavan':4,'kumar':5}
z = {**x,**y}

In [ ]:
import